* {
	margin:0;
	padding:0;
	font-size:100%;
	border:none;
}
@font-face {
     font-family: volter;
     src: url('fonts/Volter__28Goldfish_29.ttf'),
          url('fonts/Volter__28Goldfish_29.eot'); /* IE9+ */
}
 
body{
	font: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
	background: #DBFAB0 repeat-x url('images/bg2.png');
}
img {
	border: none;
}
h1 {
    font: 2em volter, sans-serif;
}
h2 {
    font: 1.5em volter, sans-serif;
    
}
h1, h2, h3, h4, h5, h6 {
    text-align:center;
}
a {
    color: #369BFF;
}
a:hover {
    color: #65B2FF;
    text-decoration: none;
}
p {
    text-indent: 2em;
}
ol {
    margin: 0 0 0 3em;
}
ul{
    margin: 0 0 0 3em;
}
#header{
	min-width:960px;
	padding:20px 0;
	text-align:center;
}

#nav {
	width:100%;
	margin: 0 0 -1px 0;
	padding:0.5em 0;
	text-align:center;
}
#nav a {
	padding: 0.3em;
    margin-right: 0.2em;
	color: #E4E4E4;
	text-decoration:none;
    font: bold 1.3em "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    2px 2px 3px #012CFF; 
    transition: background-color 0.5s linear;
   -moz-transition: background-color 0.5s linear;
   -webkit-transition: background-color 0.5s linear;
   border-radius:10px;
   border: transparent 1px solid;
   display: inline-block;
}
#nav a:hover {
    color: #89B5CB;
    background-color: #DDDDDD; 
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    5px 5px 5px #012CFF;
   	border: #4B4B4B 1px solid;
	border-radius:10px;
}

/* TAB MENU PLACEMENTS */
#home_tab {
    -o-transform:     
    rotate(-40deg)
    translate(-80px,33px);/* Opera */
    -webkit-transform:  
    rotate(-40deg)
    translate(-80px,33px);/* Safari and Chrome */
    -ms-transform:  
    rotate(-40deg)
    translate(-80px,33px);/* IE */
    -moz-transform:  
    rotate(-40deg)
    translate(-80px,33px);/* FireFag */
}
#forum_tab {
    -o-transform:     
    rotate(-20deg)
    translate(-55px,15px);/* Opera */
    -webkit-transform:     
    rotate(-20deg)
    translate(-55px,15px);/* Safari and Chrome */
    -ms-transform:     
    rotate(-20deg)
    translate(-55px,15px); /* IE */
    -moz-transform:     
    rotate(-20deg)
    translate(-55px,15px); /* FireFag */
}
#rules_tab {
    -o-transform:     
    rotate(-20deg)
    translate(-50px,0px);/* Opera */
    -webkit-transform:     
    rotate(-10deg)
    translate(-50px,0px); /* Safari and Chrome */
    -ms-transform:     
    rotate(-10deg)
    translate(-50px,0px); /* IE */
    -moz-transform:     
    rotate(-10deg)
    translate(-50px,0px); /* FireFag */
}
#vote_tab {
    -o-transform:     
    translate(-50px,3px);/* Opera */
    -webkit-transform:     
    translate(-50px,3px); /* Safari and Chrome */
    -ms-transform:     
    translate(-50px,3px); /* IE */
    -moz-transform:     
    translate(-50px,3px); /* FireFag */
}
#map_tab {
    -o-transform:     
    translate(-50px,3px);/* Opera */
    -webkit-transform:     
    translate(-50px,3px); /* Safari and Chrome */
    -ms-transform:     
    translate(-50px,3px); /* IE */
    -moz-transform:     
    translate(-50px,3px); /* FireFag */
}
#wos_tab {
    -o-transform:     
    translate(-50px,3px);/* Opera */
    -webkit-transform:     
    translate(-50px,3px); /* Safari and Chrome */
    -ms-transform:     
    translate(-50px,3px); /* IE */
    -moz-transform:     
    translate(-50px,3px); /* FireFag */
}
#donate_tab {
    -o-transform:     
    translate(-50px,3px);/* Opera */
    -webkit-transform:     
    translate(-50px,3px); /* Safari and Chrome */
    -ms-transform:     
    translate(-50px,3px); /* IE */
    -moz-transform:     
    translate(-50px,3px); /* FireFag */
}
#about_tab {
    -o-transform:     
    translate(-50px,3px);/* Opera */
    -webkit-transform:     
    translate(-50px,3px); /* Safari and Chrome */
    -ms-transform:     
    translate(-50px,3px); /* IE */    
    -moz-transform:     
    translate(-50px,3px); /* FireFag */
}

#container{
	width:95%;
	min-width:960px;
	margin:auto auto 20px auto;
	background: #ADCB6F;
	border: 1px;
	border-radius:10px;
	-moz-box-shadow: 10px 10px 5px #525A69;
	-webkit-box-shadow: 10px 10px 5px #525A69;
	box-shadow: 8px 8px 15px #B2C586;
}

.columns {
/*	min-height:25em;*/
	margin:0.5em 0.5%;
	padding:0.3em 0.7%;
	color: #010101;
	background: #C2D995;
	border: #B8CAD8 1px solid;
	border-top: none;
	border-radius: 10px;
 }

#left {
	width:20%;
	float: left;
}
#left iframe {
    /* hack for twitter to fit */
    width:99%;
}
#middle {
    margin:0.5em 0.5%;
	width:54%;
	float: left;
}
#right {
	width:20%;
	float:right;
}


.small {
    font-size: 12px;
}
#footer{
    color: #010101;
	padding:1em;
	clear:both;
	font-size: 12px;
}

/*  accouncements styles */
.accouncement_post a {
    color: #37ABB7;
	text-decoration: none;
}
.accouncement_post a:hover {
    color: #46CAD8;
    text-decoration: underline;
}
.accouncement_title a {
    text-decoration: none;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 5px #000;
}
.accouncement_title a:hover {

}
.accouncement_title {
    height: 10px;
    padding: 16px 0 5px 0;
}

.accouncement_post {
    background: #CAF7BF;
    color: #000000;
   	border: #B8CAD8 1px solid;
	border-radius:10px;
	-moz-box-shadow: 10px 10px 5px #525A69;
	-webkit-box-shadow: 10px 10px 5px #525A69;
	box-shadow: 5px 5px 10px #A0E6AC;
    margin: 1em;
}
.accouncement_post_text {
    overflow: auto;
    height: 100px;
    padding: 20px 50px;
}
.accouncement_footer {
    margin: 1em 0 0 1em;
}

