body.module {
background:transparent;
color:#fff;
text-shadow:0 1px 2px rgba(0,0,0,0.9)
}

.outage { 
text-align:center;
background-color:#A9A9A9;
color:#fff;
margin-top:5px;
padding:3px 0;
width: 1980px;
box-shadow:inset 0 -1px 0 rgba(255,255,255,0.1),0 1px 3px rgba(0,0,0,0.3)
}

.outage.minor {
background-color:#eda70f
}
.outage.major {
background-color:#ee1010
}

span.status {
font-size:38px;
font-weight:700;
position:absolute;
margin-top:-4px;
margin-left:-15px
}

span.status.offline {
color:#ec1515
}

span.status.online {
color:#45bc09
}

span.status.timeout {
color:#f8c80b
}
ul {
list-style:none
}
li{
float:left;
font-size:16px;
padding-left:15px;
margin-right:15px
}
.author {
width:235px;
display:inline-block;
text-align:right;
color:#3c3c3c;
font-size:10px;
text-shadow:none;
margin-top:5px;
padding-right:5px
}
.author a{
color:#08c;
text-decoration:none
}
.refresh span {
font-weight: bold;
color: #77cd00;
}

#bar {
position: relative;
z-index: 20;
height: 37px;
min-width: 320px;
margin: 0 auto;
color: #EEE;
}

#status {
position: absolute;
width: 100%;
top: 0px;
}

#bar .refresh {
line-height: 11px;
font-size: 11px;
text-align: right;
color: #888;
position: absolute;
right: 0;
float: right;
padding: 15px;
}